.searchbar {
    width: 20%;
    height: 30px;
    background-color: #e14c4c;
    border-radius: 30px;
    display: flex;
    align-items: center;




}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;

}

.searchInput {
    border: none;
    width: 90%;


}